#password-div
{
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#prev-story-div
{
    margin-bottom: 35px;
}

.specialwarning {
    font-size: small;
    font-style: italic;
    margin-left: 20px;
}

@keyframes agepulse {
    0%   {opacity: 1.0; }
    50%  {opacity: 0.4; }
    100%  {opacity: 1.0; }
}

.ageWarning {
    font-weight: bold;
    text-transform: uppercase;
    animation: agepulse 1.5s infinite;
}

/*label {*/
    /*/!*cursor: pointer;*!/*/
    /*display: inline-block;*/
    /*margin: 0 0.25em 0 0;*/
/*}*/

/*#text-div > textarea, input, select {*/
    /*background-color: #fcfcfc;*/
    /*border: 1px solid #cccccc;*/
    /*font-size: 1em;*/
    /*padding: 0.2em 0.4em;*/
    /*width: auto;*/
/*}*/

/*.fieldcontain label, .fieldcontain .property-label*/
/*{*/
    /*/!*width: 200px;*!/*/
    /*width: 25%;*/
    /*text-align: right;*/
    /*vertical-align: top;*/
/*}*/

/*.fieldcontain input*/
/*{*/
    /*width: 70%;*/
/*}*/

/*.text-core*/
/*{*/
    /*display: inline-block;*/
    /*width: 72%;*/
/*}*/

/*#storytags-div > textarea*/
/*{*/
    /*width: 70%;*/
    /*resize: none;*/
    /*/!*height: 30px;*!/*/

    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
/*}*/

/*#text-div > textarea*/
/*{*/
    /*width: 70%;*/
    /*resize: both;*/
    /*height: 500px;*/
/*}*/

/*div.fieldcontain*/
/*{*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/



/*/!*#create-story form label*!/*/
/*/!*{*!/*/
    /*/!*width: 25%;*!/*/
/*/!*}*!/*/