.dropshadow
{
    text-shadow: 3px 3px 3px rgba(0, 0, 200, 0.5),
        -3px 3px 3px rgba(0, 0, 200, 0.5),
        3px -3px 3px rgba(0, 0, 200, 0.5),
        -3px -3px 3px rgba(0, 0, 200, 0.5);
}

.defaultLink
{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

@keyframes dimpulse {
    0%   {
        color: #EE2D20;
        opacity: 1.0;
    }
    50%  {
        color: orange;
        /*opacity: 0.4;*/
    }
    100%  {
        color: #EE2D20;
        opacity: 1.0;
    }
}

.news-pulse
{
    text-transform: uppercase;
    color: #EE2D20;
    animation: dimpulse 2.0s infinite;
}
