/* Fix for printing bug in Bootrtrap 4 */
@page { size: auto }


/* Delayed showup for cookie and noscript warning boxes to avoid flicker */
@keyframes showUp {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

.noscript-warning, .cookieFooter
{
    animation-name: showUp;
    animation-delay: 3s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0.0;
}


/* Banner */

div.desktopbanner
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    filter: drop-shadow( 2px 2px 1px #304673);
}

div.desktopbanner p
{
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 0px;
}

div.desktopbanner .site-logo {
    height: 80px;
    width: 80px;
}

div.dialogbanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    filter: drop-shadow( 1px 1px 1px #304673);
}

div.dialogbanner p
{
    font-size: 35px;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 0px;
}

div.dialogbanner .site-logo {
    height: 50px;
    width: 50px;
}

.navbar-logo {
    height: 38px;
    width: 38px;
}

.navbar-mobilelogo {
    max-width: 140px;
    height: 30px;
    align-items: center;
    flex: 1 1 30px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.navbar-mobilelogo span {
    max-width: 140px;
    white-space: normal;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding-left: 1px;
}

@media (max-width: 460px)  {
    .navbar-logo {
        display: none;
    }
    .navbar-mobilelogo {
        max-width: 90px;
    }

}

@media (max-width: 390px)  {
    .navbar-mobilelogo {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-brand {
        padding-left: 3px;
        padding-right: 3px;
    }

    .navbar-mobilelogo span {
        max-width: 50px;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        padding-left: 1px;
    }
}

@media (max-width: 310px)  {
    .navbar-mobilelogo span {
        display: none;
    }
}

a.bannerlink
{
    text-decoration: none;
}

a.bannerlink:hover
{
    text-decoration: none;
}

@font-face {
    font-family: "Gotham-Bold";
    src: url(../fonts/Gotham-Bold_21010.ttf) format('truetype');
}

.site-home-text {
    color: #428bca;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.site-logo {
    /* filter: drop-shadow( 2px 2px 1px #304673 ); */
}

.hidden {
    display: none;
}

.main_content, #authorList td, .news {
    font-size: 120%;
}

.massive-text {
    font-size: 150%;
}

.larger-text {
    font-size: 120%;
}

.larger-text-selected {
    background-color: #0099ff;
}


/* Special Links */
.storyLink {
    font-weight: bold;
}

.div-tag-category-small {
    font-size: 10px;
    padding-top: 2px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.div-small-category {
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
}

.div-small-tags {
    font-size: 10px;
}

.fundingRequired {
    display: none;
}

.revision-removed {
    text-decoration: line-through;
    color: red;
}

.revision-inserted {
    color: green;
}

.clickable{
    cursor: pointer;
}


/* Patreon */
.patreon-button {
    border-radius: 5px;
    background-color:coral;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}

.patreon-button a {
    color: #371b3c;
    padding: 5px 5px 5px 5px;
    display: inline-flex;
}

.patreon-button:hover a {
    color: white;
    text-decoration: none;
}

.patreon-button:hover {
    background-color:#aF5F30;
}

.patreon-progress {
    height: 20px;
    background: #371b3c;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    padding: 2px;
    margin-top: 1px;
    margin-left: 5px;
}

.patreon-progress .progress-bar {
    position: relative;
    height: 100%;
    border-radius: 5px;
    animation: animate-positive 1s;
    background: #3c763d;
    /*background: #31708f;
    background: #337ab7;
    background: #8a6d3b; */
    overflow: hidden;
    box-shadow:
            0 3px 3px rgba(255,255,255,0.6) inset,
            0 -4px 5px rgba(0, 0, 0, 0.4) inset;
}
.patreon-progress .progress-value {
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 2px;
    right: 2px;
}

@keyframes animate-positive {
    0% { width: 0; }
}

@media (max-width: 1199.98px) {
    .patreon-progress {
        width: 40px;
    }
    .patreon-button-text {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .patreon-button-text {
        display: inline;
    }
    .patreon-progress {
        width: 160px;
    }
}

@media (min-width: 1200px) {
    .patreon-button-text {
        display: inline;
    }
    .patreon-progress {
        width: 100px;
    }
}

.dropdown-icon {
    width: 1.3em;
}

.navbarspacer
{
    height: 70px;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


/* Sortable Tables */

th.sortable a {
}

th.desc a:after {
    content: " \f0d7";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
}

th.asc a:after {
    content: " \f0d8";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
}


@keyframes pulsate {
    0% {transform: scale(1.0, 1.0); opacity: 0.3;}
    100% {transform: scale(1.0, 1.0); opacity: 1.0;}
}

.pulsate {
    animation: pulsate 1s ease alternate-reverse;
    animation-iteration-count: infinite;
}
