/*
*= require jquery.rtResponsiveTables.css
*= require home.css
*= require newstories.css
*/

.banner-padding {
  margin-top: 5px;
  margin-bottom: 1px;
}

div.newsbanner {
  margin-bottom: 0px !important;
}



/*div.newsbanner > .card-header {*/
  /*background-color: #067ee5;*/
/*}*/

/*div.newsbanner > .card-header > h4.card-title {*/
  /*color: white !important;*/
/*}*/



@keyframes pulsateNews {
  0% {transform: scale(1.3, 1.4); opacity: 0.8; filter: blur(1px);}
  100% {transform: scale(1.0, 1.0); opacity: 1.0;}
}

.card-news-header-text {
  font-weight: bold;
  font-size: 17px;
  animation: pulsateNews 1s ease-in alternate-reverse;
  animation-iteration-count: 16;
}

.card-news-header-hide {
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: -15px;
}

@keyframes pulsateTop {
  0% {transform: scale(1.08, 1.1); opacity: 0.8; filter: blur(0.5px);}
  100% {transform: scale(1.0, 1.0); opacity: 1.0;}
}

.topStoriesPulse {
  animation: pulsateTop 0.7s ease-in alternate-reverse;
  animation-iteration-count: 32;
}
