/*
*= require navigation.css
*= require jquery.rtResponsiveTables.css
*/

.userIconHL {
    color: gold;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.userIconStd {
}

.flashMsg {
    font-size: 120%;
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.5);
}

#divLoading
{
    display : none;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url(../images/spinner.gif);
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

/*
    Suppress margin on last p elem in a block quote, otherwise the block looks uneven
 */
blockquote p:last-child {
    margin-bottom: 0;
}

@keyframes pulseListGoldSmall {
    from {
        filter: drop-shadow(0 0 0.1px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.375px #fff) drop-shadow(0 0 0.625px #FFDD1B) drop-shadow(0 0 0.875px #FFDD1B) drop-shadow(0 0 1px #FFDD1B) drop-shadow(0 0 1.25px #FF1177) drop-shadow(0 0 3.75px #FFDD1B);
    }
    to {
        filter: drop-shadow(0 0 0.06px #fff) drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.188px #fff) drop-shadow(0 0 0.25px #FFDD1B) drop-shadow(0 0 0.435px #FFDD1B) drop-shadow(0 0 0.5px #FFDD1B) drop-shadow(0 0 0.625px #FF1177) drop-shadow(0 0 1px #FFDD1B);
    }
}

@keyframes pulseListGoldBig {
    from {
        filter: drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1.25px #FFDD1B) drop-shadow(0 0 1.75px #FFDD1B) drop-shadow(0 0 2px #FFDD1B) drop-shadow(0 0 5px #FF1177) drop-shadow(0 0 3.75px #FFDD1B);
    }
    to {
        filter: drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.38px #fff) drop-shadow(0 0 0.5px #FFDD1B) drop-shadow(0 0 0.88px #FFDD1B) drop-shadow(0 0 1px #FFDD1B) drop-shadow(0 0 1.25px #FF1177) drop-shadow(0 0 2px #FFDD1B);
    }
}

@keyframes pulseListSilverSmall {
    from {
        filter: drop-shadow(0 0 0.1px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.375px #fff) drop-shadow(0 0 0.625px #ddddf0) drop-shadow(0 0 0.875px #ddddf0) drop-shadow(0 0 1px #ddddf0) drop-shadow(0 0 1.25px #7777dd) drop-shadow(0 0 1.88px #ddddf0);
    }
    to {
        filter: drop-shadow(0 0 0.06px #fff) drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.188px #fff) drop-shadow(0 0 0.25px #ddddf0) drop-shadow(0 0 0.435px #ddddf0) drop-shadow(0 0 0.5px #ddddf0) drop-shadow(0 0 0.625px #7777dd) drop-shadow(0 0 1px #ddddf0);
    }
}

@keyframes pulseListSilverBig {
    from {
        filter: drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1.25px #ddddf0) drop-shadow(0 0 1.75px #ddddf0) drop-shadow(0 0 2px #ddddf0) drop-shadow(0 0 5px #7777dd) drop-shadow(0 0 3.75px #ddddf0);
    }
    to {
        filter: drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.38px #fff) drop-shadow(0 0 0.5px #ddddf0) drop-shadow(0 0 0.88px #ddddf0) drop-shadow(0 0 1px #ddddf0) drop-shadow(0 0 1.25px #7777dd) drop-shadow(0 0 2px #ddddf0);
    }
}

.topRatingIcon {
    height: 60px;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    animation: pulseListGoldBig 1.5s ease-in-out infinite alternate;
}

.storyListRatingIcon-0 {
    height: 40px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.storyListRatingIcon-1 {
    height: 27px;
    width: 27px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyListRatingIcon-2 {
    height: 27px;
    width: 27px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyListRatingIcon-3 {
    height: 27px;
    width: 27px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyListRatingIcon-4 {
    height: 27px;
    width: 27px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyListRatingNormal-0 {
    filter: drop-shadow( 2px 2px 2px );
}

.storyListRatingNormal-1 {
    filter: drop-shadow( 1.5px 1.5px 1.5px );
}

.storyListRatingNormal-2 {
    filter: drop-shadow( 1.5px 1.5px 1.5px );
}

.storyListRatingNormal-3 {
    filter: drop-shadow( 1px 1px 1px );
}

.storyListRatingNormal-4 {
    filter: drop-shadow( 1px 1px 1px );
}

.storyListRatingGold-0 {
    animation: pulseListGoldBig 1.5s ease-in-out infinite alternate;
}

.storyListRatingGold-1 {
    animation: pulseListGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingGold-2 {
    animation: pulseListGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingGold-3 {
    animation: pulseListGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingGold-4 {
    animation: pulseListGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingSilver-0 {
    animation: pulseListSilverBig 1.5s ease-in-out infinite alternate;
}

.storyListRatingSilver-1 {
    animation: pulseListSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingSilver-2 {
    animation: pulseListSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingSilver-3 {
    animation: pulseListSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyListRatingSilver-4 {
    animation: pulseListSilverSmall 1.5s ease-in-out infinite alternate;
}
