form input.topic
{
    display: none !important;
}

.alphabet-list
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.alphabet-list ul.pagination
{
    margin: 0 auto;
}

table.showOnMobile
{
    display: none;
}

@media (max-width: 767px)
{
    table.showOnMobile
    {
        display: flex;
    }
}

@keyframes listsponsored {
    0%   {color: red; }
    50%  {color: white; background-color: red;}
    100% {color: red;}
}

@keyframes pulse {
    0%   {opacity: 1.0; }
    50%  {opacity: 0.0; }
    100%  {opacity: 0.0; }
}

small.sponsored
{
    /*text-transform: uppercase;*/
    /*font-size: 16pt;*/
    color: red;
    background-color: transparent;
    animation-name: listsponsored;
    animation-duration: 2.5s;
    animation-iteration-count: 2;
}

h1.pulse
{
    animation: pulse 2.0s infinite;
}

tr.sponsored
{
    background: #99ddff;
}

.even
{
    background: #EDF4F7;
}

table.rt-responsive-table th
{
    padding-bottom: 10px;
    width: auto;
}

table.rt-responsive-table th:nth-of-type(3), table.rt-responsive-table td:nth-of-type(3)
{
    width: 120px;
    text-align: right;
}

table.rt-responsive-table th.sortable a, table.rt-responsive-table td.sortable a
{
    padding-right: 0;
}

table.rt-vertical-table tr td
{
    padding-left: 90px !important;
    width: 100% !important;
    text-align: left !important;
    border-bottom: 1px solid #aaa !important;
}

table.rt-vertical-table th:before, table.rt-vertical-table td:before
{
    text-align: left;
    /*width: 90px !important;*/
    width: initial !important;
    padding-right: initial !important;
}

table.rt-responsive-table.rt-vertical-table td:before, table.rt-responsive-table.rt-vertical-table td
{
    top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*table.rt-responsive-table th:nth-of-type(3):before, table.rt-responsive-table td:nth-of-type(3):before*/
/*{*/
    /*text-align: left;*/
    /*width: 120px;*/
/*}*/

/*table.rt-responsive-table.rt-vertical-table td:before {*/
    /*width: 30%;*/
/*}*/

table.rt-responsive-table.rt-vertical-table tr.even td, table.rt-responsive-table.rt-vertical-table tr.odd td {
    /* Behave  like a "row" */
    padding-left: 90px;
}

.promotedTagColumns
{
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;

    column-width: 140px;
    -moz-column-width: 140px;
    -webkit-column-width: 140px;
}
