


#userList td.text-center, #userList th.text-center {
    text-align: center;
}

#userList td.text-center::before, #userList th.text-center::before {
    text-align: left !important;
}

@media (max-width: 990px)
{
    #userList td, #userList th {
        text-align: left !important;
    }
}

form input.topic
{
    display: none !important;
}

