/* story tables */

.even
{
    background: #EDF4F7;
}

span.adminbuttons
{
    font-style: italic;
}

.adminbuttons input
{
    width:auto;
}

#list-story
{
    margin: auto 20px;
}

/*.main_content*/
/*{*/
    /*margin: auto 20px 20px;*/
/*}*/

.alphabet-list
{
    margin: 10px 0px;
}

.copyright
{
    font-style: italic;
    font-size:12px;
}

table
{
    width: 100%;
    text-align: left;
}

th
{
    padding-bottom: 10px;
    width: auto;
}

th:nth-of-type(3), td:nth-of-type(3)
{
    text-align: right;
    width: 120px;
}

th:nth-of-type(1), td:nth-of-type(1)
{
    text-align: left;
    width: 90px;
}

td
{
    padding-top: 5px;
    padding-bottom: 5px;
}

td:nth-of-type(1), td:nth-of-type(2)
{
    padding-right: 10px;
}

.prevLink
{

}

.step
{
    /*margin: auto 10px;*/
}

.nextLink
{

}

.message
{
    margin: 20px 20px 20px;
    color: red;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    /*thead tr {*/
    /*position: absolute;*/
    /*top: -9999px;*/
    /*left: -9999px;*/
    /*}*/

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 100px;

        width: auto;

        /*white-space:nowrap;*/
        /*text-overflow:ellipsis;*/
        /*overflow:hidden;*/
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 4px;
        left: 6px;
        width: 90px;
        padding-right: 0px;
        white-space: nowrap;
    }

    th:nth-of-type(3), td:nth-of-type(3)
    {
        text-align: left;
    }

    th:nth-of-type(3)
    {
        /*width: 100%;*/
        height: 15px;
        margin-left: 6px;
        width: auto;
    }

    td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(3)
    {
        /*width: 100%;*/
    }

    th:nth-of-type(2)
    {
        width: auto;
        height: 15px;
        margin-left: 6px;
    }

    th:nth-of-type(1)
    {
        width: auto;
        height: 15px;
        margin-left: 6px;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Author"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Date"; }

    th:nth-of-type(1):before { content: "Sort By "; }
    th:nth-of-type(2):before { content: "Sort By "; }
    th:nth-of-type(3):before { content: "Sort By "; }
}
