.storyText p
{
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-indent: 1.5rem;
}

.storyText hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #888;
    margin: 2em 3em 2.5em 3em;
    padding: 0;
}

.family-row
{
    display: none;
}

.tagAuthor
{
    display: none;
}

span.adminbuttons
{
    font-style: italic;
}

.add-comment
{
    width: 100%;
}

.add-comment th:nth-of-type(1), .add-comment td:nth-of-type(1)
{
    text-align: right;
    width: 90px;
    padding-right: 5px;
    margin: 0px 0px 0px 0px;
}

.add-comment th:nth-of-type(2), .add-comment td:nth-of-type(2)
{
    text-align: right;
    width: 100%;
    margin: 0px 0px 0px 0px;
    /*padding-left: 5px;*/
}

.add-comment input[type="text"]
{
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.add-comment input[type="submit"]
{
    width: auto;
    margin: 0px 0px 0px 0px;
    /*padding: 0px 0px 0px 0px;*/
}

.add-comment textarea
{
    width: 100%;
}

.adminbuttons input
{
    width:auto;
}

.copyright
{
    font-style: italic;
    font-size:12px;
}

.message
{
    margin: 20px 20px 20px;
    color: red;
}

@keyframes sponsored {
    0%   {color: #a94442;}
    50%  {color: white;}
    100% {color: #a94442;}
}

.alert-animated {
    text-transform: uppercase;
    animation-name: sponsored;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

@keyframes pulse {
    0%   {opacity: 1.0; }
    50%  {opacity: 0.0; }
    100%  {opacity: 1.0; }
}

img.sponsored {
    max-width: 30%;
    /*padding-left: 2%;*/
    padding-right: 2%;
    padding-bottom: 2%;
    float: left;
    height: auto;
    margin: 0 auto;
}

#existing-tags {
    font-size: small;
}

.pulse {
    animation: pulse 2.0s infinite;
}

.large-admin-well {
    display: block;
}

.small-admin-well {
    display: none;
}

@media (max-width: 640px) {
    .large-admin-well {
        display: none;
    }

    .small-admin-well {
        display: block;
    }
}

.reviewer-arrows {
    position: fixed;
    /*left: 90%;*/
    right: 0;
    bottom: 0;
    /*transform: translateX(-510%);*/
    z-index: 1000;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
}

.revision-highlight {
    background-color: yellow;
}

@media not screen and (max-width: 640px) {
    .ratingtable {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ratingline {
        display: table-row;
        vertical-align: center;
    }

    .ratingline .ratinglabel {
        display: table-cell;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        font-size: 20px;
        padding-right: 20px;
    }

    .ratingline .ratingclear {
        display: table-cell;
        padding-right: 5px;
        font-size: 18px;
    }

    .ratingline .ratingstar {
        width: 50px;
        height: 50px;
    }

    .ratingline .ratingstar.empty {
        opacity: 0.4;
    }

    .ratingline .story_rating {
        display: table-cell;
    }

    .ratingline .rating-container {
        display: table-cell;
        padding-top: 15px;
    }
}

@media screen and (max-width: 640px) {
    .ratingtable {
        display: table;
        margin: auto;
    }

    .ratingline {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .ratingline .ratinglabel {
        font-weight: bold;
        font-style: italic;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .ratingline .ratingclear {
        vertical-align: center;
        padding-right: 5px;
        font-size: 14px;
        padding-top: 0px;
        margin-top: 0px;
    }

    .ratingline .ratingstar {
        width: 35px;
        height: 35px;
    }

    .ratingline .ratingstar.empty {
        opacity: 0.4;
    }

    .ratingline .story_rating {
        display: table-cell;
    }

    .ratingline .rating-container {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ratingline .rating-container .rating-stars {
        height: 50px;
    }
}



table.statisticTable {
    width: 100%
}
table.statisticTable td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

table.statisticTable th {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

table.statisticTable .ratinglabel {
    height: 25px;
    filter: drop-shadow( 1px 1px 1px );
}

@keyframes pulseGoldSmall {
    from {
        filter: drop-shadow(0 0 0.2px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1.25px #FFDD1B) drop-shadow(0 0 1.75px #FFDD1B) drop-shadow(0 0 2px #FFDD1B) drop-shadow(0 0 2.5px #FF1177) drop-shadow(0 0 3.75px #FFDD1B);
    }
    to {
        filter: drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.375px #fff) drop-shadow(0 0 0.5px #FFDD1B) drop-shadow(0 0 0.875px #FFDD1B) drop-shadow(0 0 1px #FFDD1B) drop-shadow(0 0 1.25px #FF1177) drop-shadow(0 0 2px #FFDD1B);
    }
}

@keyframes pulseGoldBig {
    from {
        filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 1.5px #fff) drop-shadow(0 0 2.5px #FFDD1B) drop-shadow(0 0 3.5px #FFDD1B) drop-shadow(0 0 4px #FFDD1B) drop-shadow(0 0 5px #FF1177) drop-shadow(0 0 7.5px #FFDD1B);
    }
    to {
        filter: drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1px #FFDD1B) drop-shadow(0 0 1.75px #FFDD1B) drop-shadow(0 0 2px #FFDD1B) drop-shadow(0 0 2.5px #FF1177) drop-shadow(0 0 4px #FFDD1B);
    }
}

@keyframes pulseSilverSmall {
    from {
        filter: drop-shadow(0 0 0.2px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1.25px #ddddf0) drop-shadow(0 0 1.75px #ddddf0) drop-shadow(0 0 2px #ddddf0) drop-shadow(0 0 2.5px #7777dd) drop-shadow(0 0 3.75px #ddddf0);
    }
    to {
        filter: drop-shadow(0 0 0.125px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.375px #fff) drop-shadow(0 0 0.5px #ddddf0) drop-shadow(0 0 0.875px #ddddf0) drop-shadow(0 0 1px #ddddf0) drop-shadow(0 0 1.25px #7777dd) drop-shadow(0 0 2px #ddddf0);
    }
}

@keyframes pulseSilverBig {
    from {
        filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 1.5px #fff) drop-shadow(0 0 2.5px #ddddf0) drop-shadow(0 0 3.5px #ddddf0) drop-shadow(0 0 4px #ddddf0) drop-shadow(0 0 5px #7777dd) drop-shadow(0 0 7.5px #ddddf0);
    }
    to {
        filter: drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 0.75px #fff) drop-shadow(0 0 1px #ddddf0) drop-shadow(0 0 1.75px #ddddf0) drop-shadow(0 0 2px #ddddf0) drop-shadow(0 0 2.5px #7777dd) drop-shadow(0 0 4px #ddddf0);
    }
}

.storyRatingIcon-0 {
    height: 80px;
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
}

.storyRatingIcon-1 {
    height: 40px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyRatingIcon-2 {
    height: 40px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyRatingIcon-3 {
    height: 40px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyRatingIcon-4 {
    height: 40px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.storyRatingNormal-0 {
    filter: drop-shadow( 3px 3px 3px );
}

.storyRatingNormal-1 {
    filter: drop-shadow( 2px 2px 2px );
}

.storyRatingNormal-2 {
    filter: drop-shadow( 2px 2px 2px );
}

.storyRatingNormal-3 {
    filter: drop-shadow( 1.5px 1.5px 1.5px );
}

.storyRatingNormal-4 {
    filter: drop-shadow( 1.5px 1.5px 1.5px );
}

.storyRatingGold-0 {
    animation: pulseGoldBig 1.5s ease-in-out infinite alternate;
}

.storyRatingGold-1 {
    animation: pulseGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingGold-2 {
    animation: pulseGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingGold-3 {
    animation: pulseGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingGold-4 {
    animation: pulseGoldSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingSilver-0 {
    animation: pulseSilverBig 1.5s ease-in-out infinite alternate;
}

.storyRatingSilver-1 {
    animation: pulseSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingSilver-2 {
    animation: pulseSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingSilver-3 {
    animation: pulseSilverSmall 1.5s ease-in-out infinite alternate;
}

.storyRatingSilver-4 {
    animation: pulseSilverSmall 1.5s ease-in-out infinite alternate;
}



.editor-toolbar a, .editor-toolbar button {
    color: var(--dark);
}