

#tagTable td.text-center, #tagTable th.text-center {
    text-align: center;
}

#tagTable td.text-center::before, #tagTable th.text-center::before {
    text-align: left !important;
}

@media (max-width: 990px)
{
    #tagTable td, #tagTable th {
        text-align: left !important;
    }
}

form input.topic
{
    display: none !important;
}

