.tokenfield .token {
    height: 1.7rem;
}

.tokenfield .token.tag-category {
    background-color: #e0e0ff;
}

.tokenfield .token.tag-promoted {
    background-color: #edffed;
}

.tokenfield .token.tag-created {
    background-color: #ffeded;
    animation: tagCreatedPulse 1s ease-in-out alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes tagCreatedPulse {
    0% {background-color: #f1c0c0; }
    100% {background-color: #ffeded;}
}


.direct-help {
    font-size: 80%;
}

@keyframes tagAddWarningPulse {
    0% {color: maroon; }
    100% {color: orange;}
}

.tagAddWarning {
    font-size: 110%;
    color: maroon;
    animation: tagAddWarningPulse 1s ease-in-out alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.tag-category, .tag-category-tab {
    color: #0000FF;
}

.tag-promoted , .tag-promoted-tab {
    color: #006f00;
}