/*
*= require bootstrap_flatly.css
*/

a.storyLink:visited {
    color: #435971
}

.navbarspacer {
    height: 85px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}