/*
*= require bootstrap_materia.css
*/

a.storyLink:visited {
    color: #8ea7b7
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}

.navbarspacer {
    height: 90px !important;
}

.patreon-button {
    margin-top: 6px !important;
}
