/*
*= require bootstrap_cyborg.css
*/


a.storyLink:visited {
    color: #b4b4b4;
}

.tokenfield {
    min-height: 38px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #282828;
}


.tag-category-tab {
    color: #8080FF !important;
}

.tag-promoted-tab {
    color: #80ff80 !important;
}