/*
*= require bootstrap_darkly.css
*/


a.storyLink:visited {
    color: #1d9677;
}

.tokenfield {
    min-height: 45px;
}

.navbarspacer {
    height: 85px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #464545;
}


.tag-category-tab {
    color: #8080FF !important;
}

.tag-promoted-tab {
    color: #80ff80 !important;
}