/*
*= require bootstrap_solar.css
*/

a.storyLink:visited {
    color: #0d6a7e;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}


.editor-toolbar a, .editor-toolbar button {
    color: var(--light) !important;
}


.tag-category-tab {
    color: #8080FF !important;
}

.tag-promoted-tab {
    color: #80ff80 !important;
}