/*
*= require bootstrap_pulse.css
*/

a.storyLink:visited {
    color: #9063d1
}

.navbarspacer {
    height: 90px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}