/*
*= require bootstrap_simplex.css
*/

a.storyLink:visited {
    color: #7f160b
}

.navbarspacer {
    height: 80px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}