/*
*= require bootstrap_cerulean.css
*/

a.storyLink:visited {
    color: #157ab5;
}

.tokenfield {
    min-height: 38px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eeeeee;
}