/*
*= require bootstrap_superhero.css
*/


a.storyLink:visited {
    color: #b4b4b4;
}

.tokenfield {
    min-height: 39px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #4e5d6c;
}

.editor-toolbar a, .editor-toolbar button {
    color: var(--light) !important;
}


.tag-category-tab {
    color: #a0a0FF !important;
}

.tag-promoted-tab {
    color: #80ff80 !important;
}