/*
*= require bootstrap_lux.css
*/

a.storyLink:visited {
    color: #858585
}

.navbarspacer {
    height: 100px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #eee;
}

.nav-item {
    margin-right: 0.7rem;
}