/*
*= require bootstrap_united.css
*/


a.storyLink:visited {
    color: #ac3911;
}

.tokenfield {
    min-height: 38px;
}


blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #EEEEEE;
}