/*
*= require bootstrap_sandstone.css
*/

a.storyLink:visited {
    color: #79a736;
}

.tokenfield {
    min-height: 46px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 90%;
    border-left: 5px solid #dfd7ca;
}

