<g:applyLayout name="newMain" model="[active:'home']">
	<html>
	<head>
		<title><g:pageTitle title='Error'/></title>
	</head>
	<body>

	<div class="row">
		<div class="col">
			<div class="alert alert-danger center-block text-center">
				There was an internal error! If you've just clicked a link, please inform us of this error at admin@gayspiralstories.com!<br/>Return to the <a href="${createLink(uri: '/')}">Home Page</a>
			</div>
		</div>
	</div>

	</body>
	</html>
</g:applyLayout>